*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body{
    background-image: url(/img/magicpattern-gradient-1618883935058.png);
    background-size: cover;
}

.navbar{
    background-color: transparent;
}

.navbar a{
    color: #ffff;
    font-weight: 600;
}

.nav-item a{
    padding: 5px 10px;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}


.nav-item a:hover{
    border-bottom: 2px solid #141414;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-portada h1{
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 3%;
    color: #FFFF;
}

.container-portada p{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5%;
    color: #ffff;
}

.container-portada a{
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border: 2px solid #141414;
    border-radius: 20px 2px 20px 2px;
    text-decoration: none;
    color: #ffff;
}

.container-fluid a:hover{
    background-color: #141414;
    color:rgba(255, 255, 255, 0.74)  !important;
    transition: ease 0.5s;
}

.container-img img{
    width: 500px;
    height: 520px;
}

.container-card-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 70px;
    row-gap: 60px;
    align-items: center;
    position: absolute;
    left: 160px;
    top: 780px;
}

.card{
    width: 290px;
    height: 230px;
    background-color: rgba(20, 20, 20, .2);
    padding: 5px;
    margin-bottom: 100px;
    border:solid 2px rgba(20, 20, 20, .5);
    border-radius: 20px 20px 20px 20px;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0px;
}

.container-info{
    position: relative;
    top: 100px;
    padding: 15px 5px;
    color: #ffff;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
    text-align: center;
}

.time img{
    position: absolute;
    left: 80px;
}

.book img{
    width: 250px;
    height: 300px;
    position: absolute;
    top: -90px;
}

.card-info p{
    display: none;
    padding: 8px 5px;
    font-size: 18px;
}

.card-info p:hover{
    display: flex;
}

.card-tech{
    width: 180px;
    height: 180px;
    background-color: rgba(20, 20, 20, .2);
    border:solid 2px rgba(20, 20, 20, .5);
    border-radius: 20px 20px 20px 20px;
    
}

.container-tech{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 28px;
    align-items: center;
    position: absolute;
    left: 160px;
    top: 1260px;
}

.container-tech-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-html{
    position: absolute;
    top: 50px;
    left: 60px;
    color: white;
}

.icon-css{
    position: absolute;
    top: 50px;
    left: 270px;
    color: white;
}

.icon-js{
    position: absolute;
    top: 50px;
    left: 470px;
    color: white;
}

.icon-bootstrap{
    position: absolute;
    top: 50px;
    left: 680px;
    color: white;
}

.icon-python{
    position: absolute;
    top: 50px;
    left: 890px;
    color: white;
}

.container-tech h2{
    color: #ffff;
    position: absolute;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}


.title h2{
    width: 76%;
    margin: 100px 150px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #141414;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: #ffff;
}

.title-tec h2{
    width: 76%;
    margin: 400px 150px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #141414;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: #ffff;
}

.title-proyectos h2{
    width: 76%;
    margin: 10px 150px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #141414;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: #ffff;
}

.title-contacto h2{
    width: 76%;
    margin: 100px 150px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #141414;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: #ffff;
}

.container-proyectos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    align-items: center;
    position: relative;
    left: 50px;
    top: 20px;
}

.card-proyecto{
    height: 230px;
    width: 430px;   
}

.card-proyecto img{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, .2);
    border:solid 2px rgba(20, 20, 20, .5);
    border-radius: 20px 20px 20px 20px;
}

.container-contacto{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    position: relative;
    left: 30px;
    top: -60px;
}

.card-contacto{
    width: 190px;
    height: 190px;
    background-color: rgba(20, 20, 20, .2);
    border:solid 2px rgba(20, 20, 20, .5);
    border-radius: 20px 20px 20px 20px;
}


.icon-email{
    color: #ffff;
    position: relative;
    top: 45px;
    left: 55px;
}

.icon-linkedin{
    color: #ffff;
    position: relative;
    top: 45px;
    left: 55px;
}

.icon-twitter{
    color: #ffff;
    position: relative;
    top: 45px;
    left: 55px;
}

.icon-instagram{
    color: #ffff;
    position: relative;
    top: 45px;
    left: 55px;
}

footer{
    height: 30px;
    color: #ffff;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    position: relative;
    top: 10px;
}